.containerBallSelector{
    padding: 10px;
    height: 100%;
}

.clearSelection{
    text-align: center;
    a{
      color: #2491fa;  
      cursor: pointer;
    }
}

.ballNumbers{
    list-style: none;
    display: inline-block;
    padding: 0;
    width: 100%;
    text-align: center;
    
    li{
        display: inline-block;
        padding: 10px;
        margin: 0px 5px;
        text-align: center;
        border-radius: 100%;
        height: 40px;
        width: 40px;
        position: relative;
        cursor: pointer;
        border: 1px solid #c5c5c5;
        
        span{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }
    }
}

.winnerMsg{
    h6 {
        padding-top: 10px;
        color: #4caf6a;
    }
}

.LooseMsg{
    h6 {
        padding-top: 10px;
        color: #000000;
    }
}