<div class="containerBetSlip">
    
    <ul class="ballNumbers">
        <div class="emptyBallsContainer" *ngIf="arrayNumberChosen.length <= 0">
            <li class="emptyBall" *ngFor="let item of arrayNumberBalls; let i = index">
                <span></span>    
            </li>
        </div>
        <li *ngFor="let number of arrayNumberChosen; let i = index">
            <span>{{number}}</span>    
        </li>
    </ul>

    <div class="priceBet">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="border-radius: 0px;" id="basic-addon1">5x</span>
            </div>
            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" [(ngModel)]="priceControl" class="form-control" placeholder="Add bet amount" aria-label="betAmount" aria-describedby="basic-addon1">
            <button type="button" class="btn btn-primary customBtn">Ok</button>
        </div>
    </div>
    
    
</div>

<div class="totalAndPlay text-center">
    <h5> Total: {{ priceControl }} </h5>
    <button type="button" class="btn btn-primary customBtn"> Place bet </button>
</div>