<div class="containerBetSlip">
    
    <ul class="ballNumbers">
        <div class="emptyBallsContainer" >
            <li *ngFor="let item of arrayNumberChosen; let i = index"  
            [ngStyle]="{'background-color': item['color']}"
            [ngStyle]="{'background-color': item.numero == 0 ? '#f5f5f5' : item['color']}"
            >
                <span>{{item.numero | number}}</span>    
            </li>
        </div>
    </ul>

    <div class="priceBet">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="border-radius: 0px;" id="basic-addon1">5x</span>
            </div>
            <input id="inputPriceControl" type="number" min="0" oninput="this.value = Math.abs(this.value)" [(ngModel)]="priceControl" class="form-control" placeholder="Add bet amount" aria-label="betAmount" aria-describedby="basic-addon1">
            <button id="btnValidateAmount" type="button" class="btn btn-primary customBtn" (click)="validateMinAmount()">Ok</button>
        </div>
    </div>
    
    
</div>

<div class="totalAndPlay text-center">
    <h5> Total: {{ totalAmount }}€ </h5>
    <button type="button" class="btn btn-primary customBtn" (click)="placeBet()"> Place bet </button>
</div>